body {
    background-color: #3F88C5;
    color: #393E41;
}

.trello-container {
    display: flex;
    margin: 20px 20px 20px 20px;
}

.column {
    width: 300px;
    background-color: #F6F7EB;
    border-radius: 2px;
    padding: 10px 10px 10px 10px;
}

.trello-card {
    padding: 5px;
    margin-bottom: 10px;
}

.card-input {
    border: none;
    resize: none;
    padding-left: 5px;
    padding-right: 5px;
}

.card-input:focus {
    outline: none;
}